@import url(http://fonts.useso.com/css?family=Lato:400,700,400italic,700italic);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, .control-input {
  color: #333333;
  font-family: "Lato", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5em; }

body {
  background-color: #e8e8e8; }

#header {
  background: #F2F2F2;
  height: 64px;
  line-height: 64px;
  padding-top: 40px;
  text-align: center;
  width: 100%; }
  #header h1 a {
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    transition: 0.3s ease;
    color: #32d0ff;
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    text-decoration: none; }
    #header h1 a:hover {
      color: #00c4fe; }

#controls-top,
#controls-bottom {
  background-color: #f0f0f0;
  line-height: 72px;
  min-height: 72px;
  text-align: center;
  width: 100%; }

#controls-bottom {
  bottom: 0;
  position: fixed;
  left: 0; }

.control-input {
  box-sizing: border-box;
  border: 1px solid rgba(210, 210, 210, 0.5);
  border-radius: 4px;
  display: inline-block;
  height: 38px;
  padding: 0 1em;
  width: 50%;
  vertical-align: middle; }
  .control-input::-webkit-input-placeholder {
    font-weight: 300;
    letter-spacing: 1px; }
  .control-input::-moz-placeholder {
    font-weight: 300;
    letter-spacing: 1px; }
  .control-input:-moz-placeholder {
    font-weight: 300;
    letter-spacing: 1px; }
  .control-input:-ms-input-placeholder {
    font-weight: 300;
    letter-spacing: 1px; }
  .control-input:focus {
    border: 1px solid #32d0ff;
    outline: none; }

.control-button {
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  transition: 0.3s ease;
  background-color: #31cef5;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: inline-block;
  height: 38px;
  font-size: 14px;
  line-height: 38px;
  margin: 0 0.25em;
  padding: 0 1.5em;
  vertical-align: middle; }
  .control-button:hover {
    background-color: #0bbce8; }

#wrapper {
  margin-bottom: 72px;
  overflow-x: hidden;
  text-align: center;
  width: 100%; 
}

.grid-wrapper {
  margin: 0 auto;
  position: relative; 
}

.grid-item {
  display: block;
  cursor: pointer;
  position: absolute;
  margin: 0 auto; }
  .grid-item img {
    display: block;
    height: auto;
    width: 100%; 
}

/* mysss */
#controls-top{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 222;
  background: rgba(0,0,0,0.8);
}
#wrapper{
  margin-top: 72px;
}
.control-button{
  background: none;
  text-align: center;
}
.control-button:hover{
  background: none;
}
.slide a{
  color: #fff;
  text-decoration: none;

}


#controls-top .control-button{
    display: inline-block;
  }

.three_video{
  width: 100%;
  height: 300px;
 text-align: center;
}
.three_video>div{
  display: inline-block;
  margin: 0 10px;
}
.bottom-one{
  background: rgba(0,0,0,0.8);
}
.bottom-one:hover{
  background: #729a5e;
}
.video_one,.video_two,.video_three{
  position: relative;
}
.video_logo{
  position: absolute;
  margin: auto;
  left: 0;
  top:0;
  bottom: 0;
  right: 0;
  width: 50px;
}


#return-top {
    width: 45px;
    height: 45px;
    background-image: url(../images/new-return-top.png);
    position: fixed;
    right: 30px;
    bottom: 205px;
    background-repeat: no-repeat;
    cursor: pointer;
    display: none;
}








@media(max-width: 768px){
  #controls-top{
    background-image: url(../images/minnav.png);
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: 90% 16px;
  }
  #controls-top .control-button{
    float: none;
    display: none;
  }
  .one_TITLE{
    margin-top: 72px;
  }
  .five,.four,.six,.seven,.eight,.nine,.twelve,.eleven{
    display: none;
  }
  .slide a{
    
    font-size: 20px;
    
  }
  .slide{
    height: 45px;
    line-height: 45px;
  }
  .three_video{
    height: 650px;
    width: 100%;
  }
  .control-input{
    font-size: 12px;
    width: 66%;
  }
  .video_one,.video_two,.video_three{
    width: 100%;
    margin: 10px 0 !important;
  }
}